// font
$fontSizeMega: 4em;
$fontSizeMedium: 2em;

// dimension
$pageWidthMax: 900px;
$spacingBase: 10px;

// color
$colorBlueHeader: #369;
$colorBrown: #593e1a;
$colorGreen: #2c6700;
$colorOrange: #ff9900;
$colorRed: #f00;
